# Fetched verbatim from https://www.balldontlie.io/openapi/wnba.yml on 2026-08-21.
# Re-fetch (same URL, same command) rather than hand-editing if BDL adds/changes endpoints --
# this file is meant to stay a byte-for-byte mirror of the vendor spec, not a working copy.
openapi: 3.1.0
info:
  title: BALLDONTLIE - WNBA API
  version: 1.0.0
  description: WNBA endpoints for the BallDontLie API.
servers:
  - url: https://api.balldontlie.io
    description: Production server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    CompetitionStatusState:
      type: string
      description: Normalized lifecycle state for cross-sport integrations. Classification may use the sport-specific lifecycle field and other available lifecycle context. `unknown` means the available lifecycle data cannot be safely classified.
      enum:
        - scheduled
        - in_progress
        - final
        - postponed
        - canceled
        - delayed
        - suspended
        - abandoned
        - unknown
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
    Pagination:
      type: object
      properties:
        next_cursor:
          type: integer
          description: Cursor for the next page of results
        prev_cursor:
          type: integer
          nullable: true
          description: Cursor for the previous page of results
        per_page:
          type: integer
          description: Number of results per page
    PlayerPropMeta:
      type: object
      description: Metadata for player prop responses (no pagination - all results returned in single response)
      properties:
        per_page:
          type: integer
          description: Total number of results returned
    WNBABettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        updated_at:
          type: string
          format: date-time
    WNBAOpeningPlayerProp:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Player prop ID
        game_id:
          type: integer
          description: Game ID
        player_id:
          type: integer
          description: Player ID
        vendor:
          type: string
          description: Sportsbook vendor name
        prop_type:
          type: string
          description: Type of prop (e.g., points, rebounds, assists)
        line_value:
          type: string
          description: Player prop line value
        market:
          oneOf:
            - $ref: "#/components/schemas/WNBAPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/WNBAPlayerPropMarketMilestone"
        opened_at:
          type: string
          format: date-time
    WNBAOpeningBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        opened_at:
          type: string
          format: date-time
    WNBAGame:
      type: object
      required:
        - status_state
      properties:
        id:
          type: integer
          description: Game ID
        date:
          type: string
          format: date-time
          description: Game date and time
        season:
          type: integer
          description: Season year
        postseason:
          type: boolean
          description: Whether this is a postseason game
        status:
          type: string
          description: Game status
        status_state:
          allOf:
            - $ref: "#/components/schemas/CompetitionStatusState"
          description: Normalized lifecycle state derived from `status` and other available lifecycle context; `status` remains unchanged.
        period:
          type: integer
          description: Current period
        time:
          type: string
          description: Time remaining in period
        home_team:
          $ref: "#/components/schemas/WNBATeam"
        visitor_team:
          $ref: "#/components/schemas/WNBATeam"
        home_score:
          type: integer
          description: Home team score
        away_score:
          type: integer
          description: Away team score
    WNBAPlay:
      type: object
      properties:
        game_id:
          type: integer
          description: Game ID
        order:
          type: integer
          description: Play order number (starts at 1 and increments sequentially)
        type:
          type: string
          description: Play type
        text:
          type: string
          description: Play description
        home_score:
          type: integer
          description: Home team score after play
        away_score:
          type: integer
          description: Away team score after play
        period:
          type: integer
          description: Period number
        clock:
          type: string
          description: Game clock
        scoring_play:
          type: boolean
          description: Whether this is a scoring play
        score_value:
          type: integer
          description: Points scored on this play
        team:
          $ref: "#/components/schemas/WNBATeam"
    WNBAPlayer:
      type: object
      properties:
        id:
          type: integer
          description: Player ID
        first_name:
          type: string
          description: Player first name
        last_name:
          type: string
          description: Player last name
        position:
          type: string
          description: Player position
        position_abbreviation:
          type: string
          description: Player position abbreviation
        height:
          type: string
          description: Player height
        weight:
          type: string
          description: Player weight
        jersey_number:
          type: string
          description: Player jersey number
        college:
          type: string
          description: Player college
        age:
          type: integer
          description: Player age
        team:
          $ref: "#/components/schemas/WNBATeam"
    WNBAPlayerInjury:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/WNBAPlayer"
        status:
          type: string
          description: Injury status
        return_date:
          type: string
          description: Estimated return date
        comment:
          type: string
          description: Injury details
    WNBAPlayerProp:
      type: object
      properties:
        id:
          type: integer
          description: Player prop ID
        game_id:
          type: integer
          description: Game ID
        player_id:
          type: integer
          description: Player ID
        vendor:
          type: string
          description: Sportsbook vendor name
        prop_type:
          type: string
          description: Type of prop (e.g., points, rebounds, assists)
        line_value:
          type: string
          description: Player prop line value
        market:
          oneOf:
            - $ref: "#/components/schemas/WNBAPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/WNBAPlayerPropMarketMilestone"
        updated_at:
          type: string
          format: date-time
    WNBAPlayerPropMarketMilestone:
      type: object
      properties:
        type:
          type: string
          enum:
            - milestone
        odds:
          type: integer
          description: Milestone odds
    WNBAPlayerPropMarketOverUnder:
      type: object
      properties:
        type:
          type: string
          enum:
            - over_under
        over_odds:
          type: integer
          description: Over odds
        under_odds:
          type: integer
          description: Under odds
    WNBAPlayerSeasonStat:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/WNBAPlayer"
        team:
          $ref: "#/components/schemas/WNBATeam"
        season:
          type: integer
          description: Season year
        season_type:
          type: integer
          description: Season type (2=regular, 3=playoffs)
        games_played:
          type: integer
          description: Games played
        min:
          type: number
          description: Average minutes per game
        fgm:
          type: number
          description: Average field goals made
        fga:
          type: number
          description: Average field goals attempted
        fg_pct:
          type: number
          description: Field goal percentage
        fg3m:
          type: number
          description: Average three-pointers made
        fg3a:
          type: number
          description: Average three-pointers attempted
        fg3_pct:
          type: number
          description: Three-point percentage
        ftm:
          type: number
          description: Average free throws made
        fta:
          type: number
          description: Average free throws attempted
        ft_pct:
          type: number
          description: Free throw percentage
        reb:
          type: number
          description: Average rebounds
        ast:
          type: number
          description: Average assists
        stl:
          type: number
          description: Average steals
        blk:
          type: number
          description: Average blocks
        turnover:
          type: number
          description: Average turnovers
        pts:
          type: number
          description: Average points
    WNBAPlayerStat:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/WNBAPlayer"
        team:
          $ref: "#/components/schemas/WNBATeam"
        game:
          type: object
          properties:
            id:
              type: integer
            date:
              type: string
              format: date-time
            season:
              type: integer
        min:
          type: string
          description: Minutes played
        fgm:
          type: integer
          description: Field goals made
        fga:
          type: integer
          description: Field goals attempted
        fg3m:
          type: integer
          description: Three-pointers made
        fg3a:
          type: integer
          description: Three-pointers attempted
        ftm:
          type: integer
          description: Free throws made
        fta:
          type: integer
          description: Free throws attempted
        oreb:
          type: integer
          description: Offensive rebounds
        dreb:
          type: integer
          description: Defensive rebounds
        reb:
          type: integer
          description: Total rebounds
        ast:
          type: integer
          description: Assists
        stl:
          type: integer
          description: Steals
        blk:
          type: integer
          description: Blocks
        turnover:
          type: integer
          description: Turnovers
        pf:
          type: integer
          description: Personal fouls
        pts:
          type: integer
          description: Points scored
        plus_minus:
          type: integer
          description: Plus/minus rating
    WNBAStanding:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/WNBATeam"
        season:
          type: integer
          description: Season year
        conference:
          type: string
          description: Conference name
        wins:
          type: integer
          description: Number of wins
        losses:
          type: integer
          description: Number of losses
        win_percentage:
          type: number
          description: Win percentage
        games_behind:
          type: number
          description: Games behind leader
        home_record:
          type: string
          description: Home record
        away_record:
          type: string
          description: Away record
        conference_record:
          type: string
          description: Conference record
        playoff_seed:
          type: integer
          description: Playoff seed
    WNBATeam:
      type: object
      properties:
        id:
          type: integer
          description: Team ID
        conference:
          type: string
          description: Conference name
        city:
          type: string
          description: Team city
        name:
          type: string
          description: Team name
        full_name:
          type: string
          description: Team full name
        abbreviation:
          type: string
          description: Team abbreviation
    WNBATeamSeasonStat:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/WNBATeam"
        season:
          type: integer
          description: Season year
        season_type:
          type: integer
          description: Season type (2=regular, 3=playoffs)
        games_played:
          type: integer
          description: Games played
        fgm:
          type: number
          description: Average field goals made
        fga:
          type: number
          description: Average field goals attempted
        fg_pct:
          type: number
          description: Field goal percentage
        fg3m:
          type: number
          description: Average three-pointers made
        fg3a:
          type: number
          description: Average three-pointers attempted
        fg3_pct:
          type: number
          description: Three-point percentage
        ftm:
          type: number
          description: Average free throws made
        fta:
          type: number
          description: Average free throws attempted
        ft_pct:
          type: number
          description: Free throw percentage
        oreb:
          type: number
          description: Average offensive rebounds
        dreb:
          type: number
          description: Average defensive rebounds
        reb:
          type: number
          description: Average total rebounds
        ast:
          type: number
          description: Average assists
        stl:
          type: number
          description: Average steals
        blk:
          type: number
          description: Average blocks
        turnover:
          type: number
          description: Average turnovers
        pts:
          type: number
          description: Average points
    WNBATeamStat:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/WNBATeam"
        game:
          type: object
          properties:
            id:
              type: integer
            date:
              type: string
              format: date-time
            season:
              type: integer
        fgm:
          type: integer
          description: Field goals made
        fga:
          type: integer
          description: Field goals attempted
        fg_pct:
          type: number
          description: Field goal percentage
        fg3m:
          type: integer
          description: Three-pointers made
        fg3a:
          type: integer
          description: Three-pointers attempted
        fg3_pct:
          type: number
          description: Three-point percentage
        ftm:
          type: integer
          description: Free throws made
        fta:
          type: integer
          description: Free throws attempted
        ft_pct:
          type: number
          description: Free throw percentage
        oreb:
          type: integer
          description: Offensive rebounds
        dreb:
          type: integer
          description: Defensive rebounds
        reb:
          type: integer
          description: Total rebounds
        ast:
          type: integer
          description: Assists
        stl:
          type: integer
          description: Steals
        blk:
          type: integer
          description: Blocks
        turnovers:
          type: integer
          description: Turnovers
        fouls:
          type: integer
          description: Team fouls
    WNBAAdvancedGame:
      type: object
      properties:
        id:
          type: integer
          description: Game ID
        date:
          type: string
          format: date-time
          description: Game date and time
        season:
          type: integer
          description: Season year
    WNBAAdvancedStats:
      type: object
      additionalProperties: true
      description: Advanced metrics keyed by metric category
    WNBAPlayerGameAdvancedStat:
      type: object
      properties:
        id:
          type: integer
          description: Stat record ID
        player:
          $ref: "#/components/schemas/WNBAPlayer"
        team:
          $ref: "#/components/schemas/WNBATeam"
        game:
          $ref: "#/components/schemas/WNBAAdvancedGame"
        period:
          type: integer
          description: Period number; 0 represents full game
        stats:
          $ref: "#/components/schemas/WNBAAdvancedStats"
    WNBATeamGameAdvancedStat:
      type: object
      properties:
        id:
          type: integer
          description: Stat record ID
        team:
          $ref: "#/components/schemas/WNBATeam"
        game:
          $ref: "#/components/schemas/WNBAAdvancedGame"
        period:
          type: integer
          description: Period number; 0 represents full game
        stats:
          $ref: "#/components/schemas/WNBAAdvancedStats"
    WNBAPlayerSeasonAdvancedStat:
      type: object
      properties:
        id:
          type: integer
          description: Stat record ID
        player:
          $ref: "#/components/schemas/WNBAPlayer"
        team:
          nullable: true
          $ref: "#/components/schemas/WNBATeam"
        season:
          type: integer
          description: Season year
        season_type:
          type: string
          enum:
            - regular
            - playoffs
        scope:
          type: string
          enum:
            - general
            - clutch
        measure_type:
          type: string
          enum:
            - advanced
            - misc
            - scoring
            - usage
            - defense
            - four_factors
            - opponent
            - base
        per_mode:
          type: string
          enum:
            - totals
            - per_game
        stats:
          $ref: "#/components/schemas/WNBAAdvancedStats"
    WNBATeamSeasonAdvancedStat:
      type: object
      properties:
        id:
          type: integer
          description: Stat record ID
        team:
          $ref: "#/components/schemas/WNBATeam"
        season:
          type: integer
          description: Season year
        season_type:
          type: string
          enum:
            - regular
            - playoffs
        scope:
          type: string
          enum:
            - general
            - clutch
        measure_type:
          type: string
          enum:
            - advanced
            - misc
            - scoring
            - usage
            - defense
            - four_factors
            - opponent
            - base
        per_mode:
          type: string
          enum:
            - totals
            - per_game
        stats:
          $ref: "#/components/schemas/WNBAAdvancedStats"
    WNBAPlayerShotLocation:
      type: object
      properties:
        id:
          type: integer
          description: Stat record ID
        player:
          $ref: "#/components/schemas/WNBAPlayer"
        team:
          nullable: true
          $ref: "#/components/schemas/WNBATeam"
        season:
          type: integer
          description: Season year
        season_type:
          type: string
          enum:
            - regular
            - playoffs
        distance_range:
          type: string
          enum:
            - by_zone
            - 5ft_range
        per_mode:
          type: string
          enum:
            - totals
            - per_game
        stats:
          $ref: "#/components/schemas/WNBAAdvancedStats"
    WNBATeamShotLocation:
      type: object
      properties:
        id:
          type: integer
          description: Stat record ID
        team:
          $ref: "#/components/schemas/WNBATeam"
        season:
          type: integer
          description: Season year
        season_type:
          type: string
          enum:
            - regular
            - playoffs
        measure_type:
          type: string
          enum:
            - base
            - opponent
        distance_range:
          type: string
          enum:
            - by_zone
            - 5ft_range
        per_mode:
          type: string
          enum:
            - totals
            - per_game
        stats:
          $ref: "#/components/schemas/WNBAAdvancedStats"
  parameters:
    CursorParam:
      name: cursor
      in: query
      required: false
      schema:
        type: integer
      description: The cursor for pagination
    DatesParam:
      name: dates[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          format: date
      style: form
      explode: true
      description: Filter by dates (YYYY-MM-DD)
    GameIdsParam:
      name: game_ids[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
      style: form
      explode: true
      description: Filter by game IDs
    PerPageParam:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        maximum: 100
        default: 25
      description: Number of results per page
    PlayerIdsParam:
      name: player_ids[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
      style: form
      explode: true
      description: Filter by player IDs
    SeasonsParam:
      name: seasons[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
      style: form
      explode: true
      description: Filter by seasons
    SeasonParam:
      name: season
      in: query
      required: false
      schema:
        type: integer
      description: Filter by season
    RequiredSeasonParam:
      name: season
      in: query
      required: true
      schema:
        type: integer
      description: Season year
    SeasonTypeParam:
      name: season_type
      in: query
      required: false
      schema:
        type: string
        enum:
          - regular
          - playoffs
      description: Filter by season type
    PostseasonParam:
      name: postseason
      in: query
      required: false
      schema:
        type: boolean
      description: Filter by postseason status
    StartDateParam:
      name: start_date
      in: query
      required: false
      schema:
        type: string
        format: date
      description: Filter by games on or after this date
    EndDateParam:
      name: end_date
      in: query
      required: false
      schema:
        type: string
        format: date
      description: Filter by games on or before this date
    PeriodParam:
      name: period
      in: query
      required: false
      schema:
        type: integer
      description: Filter by period; 0 represents full game
    AdvancedScopeParam:
      name: scope
      in: query
      required: false
      schema:
        type: string
        default: general
        enum:
          - general
          - clutch
      description: Filter by stat scope
    AdvancedMeasureTypeParam:
      name: measure_type
      in: query
      required: false
      schema:
        type: string
        enum:
          - advanced
          - misc
          - scoring
          - usage
          - defense
          - four_factors
          - opponent
          - base
      description: Filter by stat category
    AdvancedPerModeParam:
      name: per_mode
      in: query
      required: false
      schema:
        type: string
        default: totals
        enum:
          - totals
          - per_game
      description: Filter by stat aggregation mode
    DistanceRangeParam:
      name: distance_range
      in: query
      required: false
      schema:
        type: string
        default: by_zone
        enum:
          - by_zone
          - 5ft_range
      description: Filter shot locations by distance grouping
    TeamIdsParam:
      name: team_ids[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
      style: form
      explode: true
      description: Filter by team IDs
  responses:
    UnauthorizedError:
      description: Unauthorized - Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadRequestError:
      description: Bad Request - Invalid parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimitError:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
security:
  - ApiKeyAuth: []
paths:
  /wnba/v1/teams:
    get:
      summary: Get WNBA teams
      tags:
        - WNBA
      parameters:
        - name: conference
          in: query
          required: false
          schema:
            type: string
            enum:
              - Eastern
              - Western
          description: Filter by conference
      responses:
        "200":
          description: List of WNBA teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBATeam"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/teams/{id}:
    get:
      summary: Get specific WNBA team
      tags:
        - WNBA
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Team ID
      responses:
        "200":
          description: Team details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WNBATeam"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/players:
    get:
      summary: Get WNBA players
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search by player name
        - name: first_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by first name
        - name: last_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by last name
      responses:
        "200":
          description: List of WNBA players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayer"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/players/active:
    get:
      summary: Get active WNBA players
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search by player name
        - name: first_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by first name
        - name: last_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by last name
      responses:
        "200":
          description: List of active WNBA players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayer"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/players/{id}:
    get:
      summary: Get specific WNBA player
      tags:
        - WNBA
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Player ID
      responses:
        "200":
          description: Player details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WNBAPlayer"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/games:
    get:
      summary: Get WNBA games
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/DatesParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - name: seasons[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by seasons
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter games after this date
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter games before this date
        - name: season_type
          in: query
          required: false
          schema:
            type: string
          description: Filter by season type
      responses:
        "200":
          description: List of WNBA games
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAGame"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/games/{id}:
    get:
      summary: Get specific WNBA game
      tags:
        - WNBA
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Game ID
      responses:
        "200":
          description: Game details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WNBAGame"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/player_stats:
    get:
      summary: Get WNBA player statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - name: game_ids[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by game IDs
        - $ref: "#/components/parameters/DatesParam"
        - name: seasons[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by seasons
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter stats after this date
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter stats before this date
      responses:
        "200":
          description: List of WNBA player stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayerStat"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/team_stats:
    get:
      summary: Get WNBA team statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - name: game_ids[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by game IDs
        - $ref: "#/components/parameters/DatesParam"
        - name: seasons[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by seasons
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter stats after this date
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter stats before this date
      responses:
        "200":
          description: List of WNBA team stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBATeamStat"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/player_season_stats:
    get:
      summary: Get WNBA player season statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - name: season
          in: query
          required: false
          schema:
            type: integer
          description: Filter by season
        - name: season_type
          in: query
          required: false
          schema:
            type: integer
          description: Filter by season type
      responses:
        "200":
          description: WNBA player season stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayerSeasonStat"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/team_season_stats:
    get:
      summary: Get WNBA team season statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - name: season
          in: query
          required: false
          schema:
            type: integer
          description: Filter by season
        - name: season_type
          in: query
          required: false
          schema:
            type: integer
          description: Filter by season type
      responses:
        "200":
          description: WNBA team season stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBATeamSeasonStat"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/player_game_advanced_stats:
    get:
      summary: Get WNBA player game advanced statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/GameIdsParam"
        - $ref: "#/components/parameters/DatesParam"
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonsParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/PostseasonParam"
        - $ref: "#/components/parameters/StartDateParam"
        - $ref: "#/components/parameters/EndDateParam"
        - $ref: "#/components/parameters/PeriodParam"
      responses:
        "200":
          description: List of WNBA player game advanced stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayerGameAdvancedStat"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/team_game_advanced_stats:
    get:
      summary: Get WNBA team game advanced statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/GameIdsParam"
        - $ref: "#/components/parameters/DatesParam"
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/SeasonsParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/PostseasonParam"
        - $ref: "#/components/parameters/StartDateParam"
        - $ref: "#/components/parameters/EndDateParam"
        - $ref: "#/components/parameters/PeriodParam"
      responses:
        "200":
          description: List of WNBA team game advanced stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBATeamGameAdvancedStat"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/player_season_advanced_stats:
    get:
      summary: Get WNBA player season advanced statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/RequiredSeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/PostseasonParam"
        - $ref: "#/components/parameters/AdvancedScopeParam"
        - $ref: "#/components/parameters/AdvancedMeasureTypeParam"
        - $ref: "#/components/parameters/AdvancedPerModeParam"
      responses:
        "200":
          description: List of WNBA player season advanced stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayerSeasonAdvancedStat"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/team_season_advanced_stats:
    get:
      summary: Get WNBA team season advanced statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/RequiredSeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/PostseasonParam"
        - $ref: "#/components/parameters/AdvancedScopeParam"
        - $ref: "#/components/parameters/AdvancedMeasureTypeParam"
        - $ref: "#/components/parameters/AdvancedPerModeParam"
      responses:
        "200":
          description: List of WNBA team season advanced stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBATeamSeasonAdvancedStat"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/player_shot_locations:
    get:
      summary: Get WNBA player shot location statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/RequiredSeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/PostseasonParam"
        - $ref: "#/components/parameters/DistanceRangeParam"
        - $ref: "#/components/parameters/AdvancedPerModeParam"
      responses:
        "200":
          description: List of WNBA player shot location stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayerShotLocation"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/team_shot_locations:
    get:
      summary: Get WNBA team shot location statistics
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/RequiredSeasonParam"
        - $ref: "#/components/parameters/SeasonTypeParam"
        - $ref: "#/components/parameters/PostseasonParam"
        - $ref: "#/components/parameters/AdvancedMeasureTypeParam"
        - $ref: "#/components/parameters/DistanceRangeParam"
        - $ref: "#/components/parameters/AdvancedPerModeParam"
      responses:
        "200":
          description: List of WNBA team shot location stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBATeamShotLocation"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/standings:
    get:
      summary: Get WNBA standings
      tags:
        - WNBA
      parameters:
        - name: season
          in: query
          required: false
          schema:
            type: integer
          description: Filter by season
        - name: conference
          in: query
          required: false
          schema:
            type: string
            enum:
              - Eastern
              - Western
          description: Filter by conference
      responses:
        "200":
          description: WNBA standings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAStanding"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/player_injuries:
    get:
      summary: Get WNBA player injuries
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
      responses:
        "200":
          description: List of WNBA player injuries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayerInjury"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/odds:
    get:
      summary: Get WNBA betting odds
      description: Retrieve betting odds for WNBA games. Either dates or game_ids is required.
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - name: dates
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: date
          style: form
          explode: true
          description: Filter by specific dates (YYYY-MM-DD format)
        - name: game_ids
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by game IDs
      responses:
        "200":
          description: WNBA betting odds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBABettingOdd"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/odds/opening:
    get:
      summary: Get WNBA opening betting odds
      description: Retrieve historical opening betting odds. Coverage is limited to the most recently completed season and ongoing seasons where available. Requires GOAT tier.
      tags:
        - WNBA
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - name: game_ids
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by game IDs
        - name: dates
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: date
          style: form
          explode: true
          description: Filter by game dates
      responses:
        "200":
          description: Opening odds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAOpeningBettingOdd"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"

  /wnba/v1/odds/player_props:
    get:
      summary: Get WNBA player prop betting odds
      description: |
        Retrieve live player prop betting data for WNBA games. Player prop data is LIVE and updated in real-time.
        We do not store historical data. As games near completion, many (or all) player props may be removed from sportsbooks.

        **Note:** This endpoint returns all player props for the specified game in a single response. Pagination is not supported.

        The API supports two market types:
        - **over_under**: Traditional over/under markets where users can bet on whether a player will go over or under a specific line value
        - **milestone**: Milestone markets where users bet on whether a player will reach a specific achievement
      tags:
        - WNBA
      parameters:
        - name: game_id
          in: query
          required: true
          schema:
            type: integer
          description: The game ID to retrieve player props for (required)
        - name: player_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter props for a specific player
        - name: prop_type
          in: query
          required: false
          schema:
            type: string
          description: Filter by prop type
        - name: vendors
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Filter by specific sportsbook vendors. If not provided, returns props from all available vendors.
      responses:
        "200":
          description: WNBA player prop betting odds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlayerProp"
                  meta:
                    $ref: "#/components/schemas/PlayerPropMeta"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /wnba/v1/odds/player_props/opening:
    get:
      summary: Get WNBA opening player prop odds
      description: Retrieve historical opening player prop betting odds. Coverage is limited to the most recently completed season and ongoing seasons where available. Requires GOAT tier.
      tags:
        - WNBA
      parameters:
        - name: game_id
          in: query
          required: true
          schema:
            type: integer
          description: The game ID to retrieve opening player props for
        - name: player_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter props for a specific player
        - name: prop_type
          in: query
          required: false
          schema:
            type: string
          description: Filter by prop type
        - name: vendors
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Filter by sportsbook vendors
      responses:
        "200":
          description: Opening odds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAOpeningPlayerProp"
                  meta:
                    $ref: "#/components/schemas/PlayerPropMeta"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"

  /wnba/v1/plays:
    get:
      summary: Get WNBA play-by-play data
      tags:
        - WNBA
      parameters:
        - name: game_id
          in: query
          required: true
          schema:
            type: integer
          description: Game ID (required)
      responses:
        "200":
          description: Play-by-play data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WNBAPlay"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
